.container_images,
.result,
.counter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container_images > div,
.counter > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_images > div > h5 {
  background-color: blue;
  color: white;
  width: 100%;
  text-align: center;
  height: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container_images {
    flex-direction: column;
  }
  .result,
  .counter {
    flex-wrap: wrap;
  }
}
